body
{
	font-family: 'Lato', sans-serif;
}
.jumbotron
{
	background-image: url("table.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	padding:10%;
	padding-bottom:10%;
	margin-bottom: 0px;
  	margin-top: 0px;
	color: white;
}

.navbar
{
	margin:0;
}

#myLogo
{
	max-width:25px; 
	margin:10px;
}

#contactlogo
{
	max-width:50px; 
	margin:10px;
}

#about
{
    	text-align: left;
	font-size:20px;
}

.thumbnail
{
	max-width:100px;
	max-height:100px;
}

.container
{
	padding-bottom:10%;
}

#divider
{
	font-family: 'Lato', sans-serif;
	font-size:30px;
	color:white;
	text-align:center;
	width:100%;
	padding:50px;
	margin-bottom:5%;
	margin-top:0px;
	background-color:#1e1f26;
}

#link_contact
{
	text-align:center;
}

#section
{
	padding-top:40px;	
	padding-bottom:40px;
	font-size:23px;
	font-weight:bold;
}

#copyright
{
	color:white;
	font-size:12px;
	padding:5%;
}

#foot
{
	padding-top:10%;
	padding-bottom:5%;
		text-align: center;
	clear:both;
	overflow:hidden;
	width:100%;
	height:auto;
}
