body
{
	font-family: 'Lato', sans-serif;
}

#textOnPic
{
	padding:10%;
	padding-bottom:10%;
	margin-bottom: 0px;
  	margin-top: 50px;

	color: white;
}

#bgImg
{
	width:100%;
	margin:0;
	padding:0;
	margin-top: 0px;
	z-index:-1;
	position:fixed;
}

#main
{
	margin-top:150px;
	width:100%;
	background-color:white;
	z-index:2;
	margin-left:0;
	margin-right:0;
	padding:0;
	margin-bottom:250px;

}

.navbar
{
	margin:0;
}

#myLogo
{
	max-width:25px; 
	margin:10px;
}

#contactlogo
{
	max-width:50px; 
	margin:10px;
}

#about
{
    	text-align: left;
	font-size:20px;
}

.thumbnail
{
	max-width:100px;
	max-height:100px;
}

.container
{
	padding-bottom:10%;
}

#divider
{
	font-family: 'Lato', sans-serif;
	font-size:30px;
	color:white;
	text-align:center;
	width:100%;
	padding:50px;
	margin-bottom:5%;
	margin-top:0px;

	background-image: url("repeat.png");
}

#link_contact
{
	text-align:center;
}

#section
{
	padding-top:40px;	
	padding-bottom:40px;
	font-size:23px;
	font-weight:bold;
}

#copyright
{
	color:white;
	font-size:12px;
	padding-top:5%;
}

#foot
{
	position:fixed;
    bottom:0;
    left:0;
	padding:5%;
	text-align: center;
	clear:both;
	overflow:hidden;
	width:100%;
	height:200px;
	z-index:-1;
	
}
